kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: {{ .Values.service.name }} 
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}" 
    visualize: "true" 
    app: {{ .Values.service.name }} 
spec:
  replicas: {{ .Values.replicaCount }} 
  selector: 
    matchLabels:
      app: {{ .Values.service.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.service.name }}
        visualize: "true" 
    spec:
      containers: 
      - name: {{ .Values.service.name }} 
        image: "{{ .Values.image.repository }}:{{ .Chart.Version }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: APP_SYSTEM_CODE 
          value: "{{ .Values.env.APP_SYSTEM_CODE }}"
        - name: APP_NAME
          value: "{{ .Values.env.APP_NAME }}"
        - name: APP_PORT
          value: "{{ .Values.env.APP_PORT }}"
        - name: NEO_URL
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: neo4j.read.write.url
        - name: BATCH_SIZE
          valueFrom: 
            configMapKeyRef:
              name: global-config
              key: neo4j.statements.batch.size
        - name: GRAPHITE_ADDRESS
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: graphite.address
        - name: GRAPHITE_PREFIX
          value: {{ .Values.env.GRAPHITE_PREFIX }}
        - name: LOG_METRICS
          value: "{{ .Values.env.LOG_METRICS }}"
        - name: CACHE_DURATION
          value: "{{ .Values.env.CACHE_DURATION }}"
        ports: 
        - containerPort: 8080 
        livenessProbe: 
          tcpSocket: 
            port: 8080 
          initialDelaySeconds: 5 
        readinessProbe: 
          httpGet: 
            path: "/__gtg" 
            port: 8080 
          initialDelaySeconds: 10
          periodSeconds: 30
        resources:
{{ toYaml .Values.resources | indent 12 }}      
